# Aktywny profil: dev lub prod
SPRING_PROFILES_ACTIVE=dev

# Dev - H2 (in-memory)
DB_URL=jdbc:h2:mem:tododb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
DB_USERNAME=sa
DB_PASSWORD=

# Prod - PostgreSQL (odkomentuj i uzupełnij)
# DB_URL=jdbc:postgresql://localhost:5432/todo
# DB_USERNAME=postgres
# DB_PASSWORD=twoje_haslo
